@charset "utf-8";
#mui_nav {
  height: 55px;
}
.mt11 {
  margin-top: 11px;
}
.top_img {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 166px;
  height: 37px;
}
.swiper-slide .fade {
  position: absolute;
  top: 25%;
  transform: translateX(-50%);
  opacity: 0;
  width: 70%;
  height: 50%;
  z-index: 100;
}
.swiper-slide .slide {
  position: absolute;
  top: 30%;
  right: 0px;
  transform: translateY(-50%);
  transform: translateX(50%);
  z-index: 101!important;
  word-wrap: break-word;
  text-align: center;
  opacity: 0;
}
.swiper-slide .slide p {
  font-size: 22px;
  color: white;
  margin-top: -15px;
}
.swiper-slide .slide span {
  font-size: 22px;
}
.swiper-slide .slide {
  z-index: 98;
  opacity: 0;
}
.mui_slide .mui_home {
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: cyan;
}
.mui_slide a {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: cyan;
  border-bottom: 1px solid white;
  padding-left: 10px;
}
.mui-slider-group {
  width: 100%;
  height: 220px;
}
.mui-slider-group img {
  width: 100%;
  height: 100%;
}
.content {
  margin-top: 30px;
  padding-bottom: 100px;
}
.content .one_tier {
  display: flex;
}
.content .one_tier .one_txt1 {
  flex: 1;
}
.content .one_tier .one_txt2 {
  flex: 1;
}
.content .one_tier img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
.content .one_tier p {
  text-align: center;
  font-size: 16px;
  word-wrap: break-word;
  margin-top: 5px;
  color: black;
}
.content .one_tier span {
  display: block;
  font-size: 12px;
  color: black;
  width: 165px;
  margin: 0px auto;
  /* margin-left: 17px; */
}
.content .banner_2 {
  margin-top: 20px;
}
.content .area {
  width: 100%;
  height: 300px;
  background-color: red;
  color: white;
  padding: 5px;
  margin-left: 100%;
  opacity: 0;
}
.content .area p {
  font-size: 16px;
  color: white;
}
.content .area span {
  color: white;
  font-size: 14px;
}
.content .area .mw-btn {
  width: 100px;
  height: 35px;
  background-color: darkred;
  line-height: 26px;
  text-align: center;
  color: white;
  margin-top: 10px;
  display: block;
}
.content .server {
  padding: 5px;
  animation: area 1s linear 2s forwards;
}
.content .server p {
  font-size: 14px;
  color: #444;
  margin-top: 3px;
  margin-left: 3px;
}
.content .server h3 {
  text-align: center;
  margin: 10px 0px;
}
.content .server div:nth-child(even) {
  float: left;
  width: 45%;
}
.content .server div:nth-child(odd) {
  float: right;
  width: 45%;
}
.content .one_tier img {
  animation: play 1s linear forwards;
  animation-delay: 0.5s;
  opacity: 0;
}
@keyframes play {
  from {
    transform: rotateZ(0deg);
    opacity: 0;
  }
  to {
    transform: rotateZ(360deg);
    opacity: 1;
  }
}
.end .sev_btn {
  width: 135px;
  height: 40px;
  background-color: red;
  line-height: 40px;
  text-align: center;
  color: white;
  display: block;
  margin: 55px auto;
  font-size: 14px;
}
.end p {
  text-align: center;
  margin: 0px;
}
.header {
  height: 55px;
}
.header img {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 166px;
  height: 37px;
}
.ct_content {
  padding: 30px 20px;
}
.ct_content h1 {
  width: 100%;
  height: auto;
  color: #404040;
  font-size: 20px;
}
.ct_content .riqi {
  font-family: 'Microsoft YaHei', arial;
  color: #999;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: left;
  line-height: 1.4;
  word-wrap: break-word;
  word-break: normal;
}
.red {
  font-family: 宋体;
  color: red;
  font-size: 16px;
}
.normal {
  font-family: 宋体;
  font-size: 14px;
  color: #404040;
  text-align: left;
  line-height: 26px;
}
.center {
  text-align: center;
  color: red;
  font-family: 宋体;
  font-weight: 900;
}
.bold {
  font-family: 宋体;
  font-size: 14px;
  color: #404040;
  text-align: left;
  line-height: 26px;
  font-weight: 900;
}
.blackblod {
  font-family: 宋体;
  font-size: 12px;
  font-weight: 900;
}
.icon_ys {
  font-size: 30px!important;
  color: black;
  position: absolute;
  left: 10px;
  top: 5px;
}
.ct_cebian {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  z-index: 999;
  font-size: 16px;
  left: -100%;
}
.ct_cebian li {
  margin-top: 10px;
  border-bottom: 1px solid white;
  padding: 5px 20px;
}
.ct_cebian li a {
  color: white;
}
.icon-close {
  position: absolute;
  right: 0px;
  font-size: 25px!important;
  top: 0px;
  color: white;
}
.fade1 {
  width: 70%!important;
  height: 50%!important;
  top: 25%;
  transform: translateX(-50%);
  z-index: 94!important;
  left: -20%;
}
.slide1 {
  top: 30%;
  right: -17%;
  transform: translateY(-50%);
  transform: translateX(50%);
  text-align: center;
  z-index: 96;
}
.banner_1 {
  z-index: 99!important;
}
.swiper-slide1 {
  background: url(../image/banner_1.png) no-repeat;
  background-size: cover;
  z-index: 97;
}
.ct_cebian > ul > li > a {
  display: block;
}
.pro_content {
  padding: 10px;
}
.pro_content .pro_center {
  text-align: center;
}
.pro_content .pro_center > p {
  font-family: "Microsoft YaHei";
  font-size: 24px;
  color: red;
}
.pro_content .pro_center span {
  font-size: 18px;
  font-family: "Microsoft YaHei";
  color: black;
  font-weight: 900;
}
.pro_content .pro_img {
  display: flex;
}
.pro_content .pro_img img:nth-child(1) {
  width: 50%;
}
.pro_content .pro_img img:nth-child(2) {
  width: 50%;
}
.pro_content .pro_img2 {
  width: 100%;
}
.ject_content {
  padding: 10px;
}
.ject_content .ject_center {
  text-align: center;
}
.ject_content .ject_center > p {
  font-family: "Microsoft YaHei";
  font-size: 24px;
  color: red;
}
.ject_content .ject_center span {
  font-size: 18px;
  font-family: "Microsoft YaHei";
  color: black;
  font-weight: 900;
}
.ject_content .ject_img li {
  width: 48%;
  float: left;
  margin-left: 1%;
}
.ject_content .ject_text {
  padding: 8%;
  text-align: center;
  line-height: 30px;
}
.ject_content .ject_text a {
  padding: 0 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #666;
  background-color: #eee;
  border-color: #ddd;
  border-width: 1px;
  border-style: solid;
  height: 30px;
  text-align: center;
  text-decoration: none;
}
.ject_content .ject_end {
  padding: 0px 20px;
  height: 150px;
  background-color: black;
  color: white;
}
.ject_content .ject_end p {
  margin-top: 20px;
}
.news_content {
  padding: 10px;
}
.news_content .new_center {
  text-align: center;
}
.news_content .new_center > p {
  font-family: "Microsoft YaHei";
  font-size: 24px;
  color: red;
}
.news_content .new_center span {
  font-size: 18px;
  font-family: "Microsoft YaHei";
  color: black;
  font-weight: 900;
}
.news_content .news_list li {
  margin-top: 10px;
}
.news_content .news_list li .news_img {
  width: 30%;
  height: 88px;
}
.news_content .news_list li .news_img img {
  height: 100%;
}
.news_content .news_list li .news_text {
  width: 68%;
  margin-left: 1%;
}
.news_content .news_fenye {
  margin-top: 20px;
  padding: 8%;
  text-align: center;
  line-height: 30px;
}
.news_content .news_fenye a {
  padding: 0 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #666;
  background-color: #eee;
  border-color: #ddd;
  border-width: 1px;
  border-style: solid;
  height: 30px;
  text-align: center;
  text-decoration: none;
}
.tact_content {
  padding: 10px;
}
.tact_content .tact_center {
  text-align: center;
}
.tact_content .tact_center > p {
  font-family: "Microsoft YaHei";
  font-size: 24px;
  color: red;
}
.tact_content .tact_center span {
  font-size: 18px;
  font-family: "Microsoft YaHei";
  color: black;
  font-weight: 900;
}
.tact_content .tact_text {
  background-color: red;
  padding: 20px;
}
.tact_content .tact_text input {
  width: 100%;
  height: 30px;
  margin-top: 10px;
  padding-left: 15px;
}
.tact_content .tact_text textarea {
  padding: 15px;
  margin-top: 10px;
  width: 100%;
  height: 130px;
}
.tact_content .tact_text button {
  display: inline-block;
  margin: 0 0 0 12px;
  padding: 0 16px;
  cursor: pointer;
  outline: none;
  min-width: 54px;
  line-height: 40px;
  float: right;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: transparent;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: transparent;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: transparent;
  background-color: #b0061f;
  background-image: none;
  background-repeat: no-repeat;
  background-position: left top;
  background: -moz-linear-gradient(top, none, none);
  background: -o-linear-gradient(top, none, none);
  background: linear-gradient(top, none, none);
  background: -webkit-gradient(linear, left top, left bottom, from(none), to(none));
  text-align: center;
  text-decoration: none;
  color: #FFF;
  font-size: 16px;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 10px;
}
.container {
  min-height: 100%;
  height: auto;
}
.mui-bar-nav ~ .mui-content {
  padding-bottom: 20px;
}
.swiper-container {
  width: 100%;
  height: 220px;
}
.swiper-container img {
  width: 100%;
  height: 100%;
  position: absolute;
}
.swiper-container p {
  position: absolute;
  color: red;
  font-size: 30px;
}
.white {
  color: white;
}
