.header{
  height: 55px;
  img{
      position: absolute;
      top:10px;
      left: 50%;
      transform:translateX(-50%);
      width: 166px;
      height: 37px;
  }
}
.top_img{
  position: absolute;
  top:10px;
  left: 50%;
  transform:translateX(-50%);
  width: 166px;
  height: 37px;
}
.swiper-slide{
  width: 100%;
  position: relative;
  background: url(../image/banner_1.png) no-repeat;
  background-size: contain;
  text-align: center;

  .fade{
    position: absolute;
    top:25%;
    //transform:translateX(-50%);
    //opacity: 0;
    //width: 300px;
    //margin: 0 auto;
    height: 50%;

    //left: 14%;
    //z-index: 100;
  }
  .slide{
    width: 100%;
    position: absolute;
    top: 30%;
    //right: 0px;
    //transform: translateY(-50%);
    //transform: translateX(-50%);
    z-index: 101!important;
    //word-wrap: break-word;
    text-align: center;
    //opacity: 0;
    //left: 45%;
    p{
      font-size: 22px;
      color: white;
      margin-top: -15px;
    }
    span{
      font-size: 22px;

    }
  }
  .slide{
    //z-index: 98;
    //opacity: 0;
  }
}
.mui_slide{
  .mui_home{
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: cyan;

  }
  a{
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: cyan;
    border-bottom: 1px solid white;
    padding-left: 10px;
  }
}
.mui-slider-group{
  width: 100%;
  height: 220px;
  img{
    width: 100%;
    height: 100%;
  }
}
.ct_content{
  padding: 30px 20px;
  h1{
    width: 100%;
    height: auto;
    color: #404040;
    font-size: 20px;
  }
  .riqi{
    font-family: 'Microsoft YaHei',arial;
    color: #999;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    line-height: 1.4;
    word-wrap: break-word;
    word-break: normal;
  }
}
.red{
  font-family: 宋体;
  color: red;
  font-size: 16px;
}
.normal{
  font-family: 宋体;
  font-size: 14px;
  color: #404040;
  text-align: left;
  line-height: 26px;
}
.center{
  text-align: center;
  color: red;
  font-family: 宋体;
  font-weight:900;
}
.bold{
  font-family: 宋体;
  font-size: 14px;
  color: #404040;
  text-align: left;
  line-height: 26px;
  font-weight: 900;
}
.blackblod{
  font-family: 宋体;
  font-size: 12px;
  font-weight:900;
}
.icon_ys{
  font-size: 30px!important;
  color: black;
  position: absolute;
  left: 10px;
  top: 5px;
}
.ct_cebian{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  z-index: 999;
  font-size:16px;
  left: -100%;
  ul{
    //padding-left: 10px;
  }
  li{
    margin-top: 10px;
    border-bottom: 1px solid white;
    padding:5px 20px;
    a{
      color: white;
    }
  }
}
.icon-close{
  position: absolute;
  right: 0px;
  font-size: 25px!important;
  top: 0px;
  color: white;
}
.fade1{
  //width: 70%!important;
  //height: 50%!important;
  //top:25%;
  //transform:translateX(-50%);
  ////opacity: 0;
  //z-index: 94!important;
  //left:-20%;
  position: absolute;
  top:25%;
  //transform:translateX(-50%);
  //opacity: 0;
  //width: 300px;
  //margin: 0 auto;
  height: 50%;

  //left: 14%;
  //z-index: 100;
  img{
    height: 120px!important;
  }
}
.swiper-slide2{
  background: url(../image/banner_2.png) no-repeat;
  background-size:cover;
  img{
    height: 110px!important;
  }
}
.slide1{
  width: 100%;
  position: absolute;
  top: 30%;
  //right: 0px;
  //transform: translateY(-50%);
  //transform: translateX(-50%);
  z-index: 101!important;
  //word-wrap: break-word;
  text-align: center;
  //opacity: 0;
  //left: 45%;
  p{
    font-size: 22px;
    color: white;
    margin-top: -15px;
  }
  span{
    font-size: 22px;

  }
}
.banner_1{
  z-index: 99!important;
}
.swiper-slide1{
  //width: 100%;
  //height: 100%;
  background: url(../image/banner_1.png) no-repeat;
  background-size:cover;
  //z-index: 97;
}
.ct_cebian>ul>li>a{
  display:block;
}
//ct_product页面
.pro_content{
  padding: 10px;
  .pro_center{
    text-align: center;
    >p{
      font-family: "Microsoft YaHei";
      font-size: 24px;
      color:red;
    }
    span{
      font-size: 18px;
      font-family: "Microsoft YaHei";
      color: black;
      font-weight:900;
    }
  }
  .pro_img{
    display: flex;
    img:nth-child(1){
      width: 50%;
    }
    img:nth-child(2){
      width: 50%;
    }
  }
  .pro_img2{
    width: 100%;
  }
  .pro_text{

  }
}
//ct_project页面
.ject_content{
  padding: 10px;
  .ject_center{
    text-align: center;
    >p{
      font-family: "Microsoft YaHei";
      font-size: 24px;
      color:red;
    }
    span{
      font-size: 18px;
      font-family: "Microsoft YaHei";
      color: black;
      font-weight:900;
    }
  }
  .ject_img{
    li{
      width: 48%;
      float: left;
      margin-left: 1%;
    }
  }
  .ject_text{
    padding:8%;
    text-align:center;
    line-height:30px;
      a{
        padding: 0 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #666;
        background-color: #eee;
        border-color: #ddd;
        border-width: 1px;
        border-style: solid;
        height: 30px;
        text-align: center;
        text-decoration: none;
      }
  }
  .ject_end{
    padding: 0px 20px;
    height: 150px;
    background-color: black;
    color: white;
    p{
      margin-top:20px;
    }
  }
}
//ct_news页面
.news_content{
  padding: 10px;
  .new_center{
    text-align: center;
    >p{
      font-family: "Microsoft YaHei";
      font-size: 24px;
      color:red;
    }
    span{
      font-size: 18px;
      font-family: "Microsoft YaHei";
      color: black;
      font-weight:900;
    }
  }
  .news_list{
    li{
      margin-top: 10px;
      .news_img{
        width: 30%;
        height: 88px;
        img{
          height: 100%;
        }
      }
      .news_text{
        width: 68%;
        margin-left: 1%;
      }
    }
  }
  .news_fenye{
    margin-top:20px;
    padding:8%;
    text-align:center;
    line-height:30px;
    a{
      padding: 0 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #666;
      background-color: #eee;
      border-color: #ddd;
      border-width: 1px;
      border-style: solid;
      height: 30px;
      text-align: center;
      text-decoration: none;
    }
  }
}
//ct_contact
.tact_content{
  padding: 10px;
  .tact_center{
      text-align: center;
      >p{
        font-family: "Microsoft YaHei";
        font-size: 24px;
        color:red;
      }
      span{
        font-size: 18px;
        font-family: "Microsoft YaHei";
        color: black;
        font-weight:900;
      }
  }
  .tact_text{
    background-color: red;
    padding: 20px;
    input{
      width: 100%;
      height: 30px;
      margin-top:10px;
      padding-left: 15px;
    }
    textarea{
      padding:15px;
      margin-top: 10px;
      width: 100%;
      height: 130px;

    }
    button{
      display: inline-block;
      margin: 0 0 0 12px;
      padding: 0 16px;
      cursor: pointer;
      outline: none;
      min-width: 54px;
      line-height: 40px;
      float: right;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-top-width: 1px;
      border-top-style: solid;
      border-top-color: transparent;
      border-right-width: 1px;
      border-right-style: solid;
      border-right-color: transparent;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: transparent;
      border-left-width: 1px;
      border-left-style: solid;
      border-left-color: transparent;
      background-color: rgb(176, 6, 31);
      background-image: none;
      background-repeat: no-repeat;
      background-position: left top;
      background: -moz-linear-gradient(top, none, none);
      background: -o-linear-gradient(top, none, none);
      background: linear-gradient(top, none, none);
      background: -webkit-gradient(linear, left top, left bottom, from(none), to(none));
      text-align: center;
      text-decoration: none;
      color: #FFF;
      font-size: 16px;
      -webkit-tap-highlight-color: rgba(255,255,255,0);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-top:10px;
    }
  }
}
